body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-container {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    font-size: 26px;
    font-family: 'Lora', sans-serif;
    color: #2E2E2E;
    text-decoration: none;
    transition: color 0.3s;
}

.logo:hover {
    color: #606051;
}

.header {
    padding: 17px 0;
    margin-bottom: 89px;
}

.header__content-wrapper,
.footer__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu {
    list-style: none;
    display: flex;
}

.navigation__item {
    padding: 10px 20px;
}

.navigation__link {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #2E2E2E;
    transition: color 0.3s;
}

.navigation__link:hover {
    color: #606051;
}

.main__text-wrapper {
    margin-bottom: 113px;
}

.main__title {
    font-size: 50px;
    font-family: 'Lora', sans-serif;
    color: #2E2E2E;
}

.main__subtitle {
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    color: #2E2E2E;
    opacity: 0.63;
}

.main__title,
.main__subtitle {
    text-align: center;
}

.main__image {
    margin-bottom: 140px;
    max-width: 100%;
}

.main__text {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    color: #101315;
}

.footer {
    padding: 17px 0;
    background-image: url("../images/background_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .logo {
    color: #FFFFFF;
    transition: color 0.3s;
}

.footer .logo:hover {
    color: #DCDCDC;
    transition: color 0.3s;
}

.footer .navigation__link {
    color: #FFFFFF;
    opacity: 0.6;
}

.footer .navigation__link:hover {
    color: #FFFFFF;
    opacity: 0.9;
}