* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    margin-bottom: 89px;
    padding: 17px 0;
}

.header__container,
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1000px;
}

.logo {
    text-decoration: none;
    transition: color 0.3s;
    font: 26px 'Lora', sans-serif;
    color: #2E2E2E;
}

.logo:hover {
    color: #606051;
}

.navigation__menu {
    display: flex;
    list-style: none;
}

.navigation__item {
    padding: 10px 20px;
}

.navigation__link {
    text-decoration: none;
    transition: all 0.3s;
    font: 12px 'Oxygen', sans-serif;
    text-transform: uppercase;
    color: #2E2E2E;
}

.navigation__link:hover {
    color: #606051;
}

.main__text-content {
    margin-bottom: 113px;
}

.main__title {
    margin-bottom: 20px;
    text-align: center;
    font: 50px 'Lora', sans-serif;
    color: #2E2E2E;
}

.main__subtitle {
    margin-bottom: 113px;
    text-align: center;
    font: 17px 'Oxygen', sans-serif;
    color: #2E2E2E;
    opacity: 0.63;
}

.main__image {
    margin-bottom: 140px;
    max-width: 100%;
    object-fit: cover;
}

.main__text {
    margin-bottom: 30px;
    font: 24px 'Oxygen', sans-serif;
    color: #101315;
}

.footer {
    padding: 17px 0;
    background-image: url("../images/background_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__logo {
    color: #FFFFFF;
}

.footer__logo:hover {
    color: #DCDCDC;
}

.footer .navigation__link {
    color: #FFFFFF;
    opacity: 0.6;
    transition: all 0.3s;
}

.footer .navigation__link:hover {
    color: #FFFFFF;
    opacity: 0.9;
}